@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Dancing+Script:wght@400;500&family=Encode+Sans+Expanded:wght@400;700&family=Lora:ital@1&family=Merienda&family=Noto+Serif+Gujarati:wght@300&family=Orbitron&family=Poppins:wght@400;500;600;700&family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    background-color: var(--bg);
    transition: all 3ms ease;
    color: var(--black);
    scroll-behavior: smooth;
}